body {
    color: #333337;
    background-color: #aaaaa7;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}
img {
	border: 0;
}
header {
}
header, footer {
    padding: 0em;
	text-align: center;
}
header li, footer li {
    display: inline;
    list-style-type: none;
    position: relative;
    left: -1.25em;
}
footer {
}
article {
    border-top: solid thin;
    border-bottom: solid thin;
}

section {
	margin: 1em;
	color: #666667;
    background-color: #ccccc7;
	padding: 0em 1em;
	border: dashed thin;
}
